/**
 * Created by Samuel Gratzl on 15.12.2014.
 */

@import "../clue_demo/styles/vars";
$select-data-color: orange;
$hover-data-color: #ffc46b;

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  background-color: #fafafa;

  -webkit-font-smoothing: subpixel-antialiased;
}

.selectioninfo {
  .no-selection-selected.no-selection-hovered {
    display: none;
  }
}

#toolbar {
  i {
    background-size: 100%;
    margin: 0 0.1em;
  }

  .btn-group {
    //display: block;
  }
}
#notes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  button {
    font-size: small;
  }
}


svg {
  vector-effect : non-scaling-stroke;
  shape-rendering: geometricPrecision;
}

main {
  display: -webkit-flex !important;
  display: flex !important;

  -webkit-align-items: stretch;
  -webkit-flex-flow: column;
  align-items: stretch;
  flex-flow: column;
}



#stratomex {
  -webkit-flex: 1 1 50vh;
  flex: 1 1 50vh;

  position: relative;
  background-color: white;

  display: -webkit-flex !important;
  display: flex !important;

  -webkit-align-items: stretch;
  -webkit-flex-flow: row;
  align-items: stretch;
  flex-flow: row;

  padding-top: 20px;

  //max-height: 71vh;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  .column-layout {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    height: inherit;
  }

  .column {
    position: absolute;

    height: inherit;
    //background-color: #fafafa;
    white-space: nowrap;

    &.select-selected {
      //border: 1px solid $select-data-color;
      background: none;

      div.summary, div.group {
        border-color: $select-data-color !important;
      }
    }
    &.select-hovered {
      border: 1px solid $hover-data-color;
      background: none;
    }

    &.ui-state-disabled {
      opacity: 1;
    }

    div.toolbar, div.gtoolbar {
      i {
        background-size: 100%;
        margin: 0 1px;
      }
      i:hover {
        font-weight: bold;
        cursor: pointer;
      }
      i.fa-close {
        color: red;
      }
    }

    div.toolbar {
      position: absolute;
      height: 16px;
      top: -16px;
      left: 0;
      right: 0;
      max-width: 180px;
      text-align: center;

      div {
        display: inline;
        margin: 0 1px;
      }
    }

    div.summary {
      border: 2px solid gray;
      border-radius: 5px 5px 2px 2px;

      div.title {
        padding: 0 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: small;
      }

      > .multiform {
        background-color: white;
        line-height: 0;
      }
    }
    div.group {
      margin: 5px 0 0px 0;
      border-radius: 5px;
      border: 2px solid gray;
      position: relative;

      &.selected {
        border-color: $select-data-color;
        div.title {
          background-color: $select-data-color;
        }
      }

      div.body {
        /*disable selection*/

        line-height: 0;
        background-color: #d1d1d1;
        //text-align: center;

        * {
          pointer-events: none;
          background-color: white;
        }
      }

      div.title {
        background-color: #d1d1d1;
        padding: 0 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: small;
      }

      div.footer {
        background-color: black;
        height: 5px;

        div {
          background-color: gray;
          height: 100%;
        }
      }

      div.gtoolbar {
        position: absolute;
        top: 0;
        right: 0;

        div {
          display: inline-block;
          margin: 0 1px;
        }
      }
    }

    div.detail {
      position: absolute;
    }
  }

  .selection-clearer {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .readonly {
    pointer-events: none !important;
  }

  .link-container {
    position: absolute;
    left: 0;
    top: 0;

    svg {
      position: absolute;

      path.rel-back {
        stroke: none;
        fill: white;
        opacity: 0;
      }
      path.rel-item {
        pointer-events: none;
        stroke: black;
        stroke-width: 1;
        stroke-opacity: 0.9;

        &.select-selected {
          stroke: $select-data-color;
          pointer-events: none;
        }
        &.select-hovered {
          stroke: $hover-data-color;
          pointer-events: none;
        }
      }
      path.rel-group, path.rel-block {
        stroke: black;
        stroke-width: 1;
        stroke-opacity: 0.9;
        fill: black;
        opacity: 0.2;

        &.select-selected {
          fill: $select-data-color;
          pointer-events: none;
        }
        &.select-hovered {
          fill: $hover-data-color;
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}

#databrowser {
  background-color: white;
  border: 2px solid $exploration-stage;
  border-radius: 5px;
  margin: 2px;

  position: relative;
  //width: 100%;
  height: 25vh;
  padding: 0;


  display: -webkit-flex;
  display: flex;



  > div {
    //height: 100%;
    max-width: none;

    .row.selected rect.bg {
      stroke: $select-data-color;
      stroke-width: 1;
    }
    .row.hover rect.bg {
      stroke: $hover-data-color;
      stroke-width: 1;

    }
  }

  div.lu {
    left: 2px;
    top: 2px;

  }

  .tab-content {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;

    position: relative;
  }

  > div:first-of-type {
    width: 10em;
    background-color: $exploration-stage;

    h2 {
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
    }
    ul {
      border-bottom: none;
    }
    border-right: 1px solid $exploration-stage;
    li {
      float: none;
      margin-bottom: 2px;
      margin-right: -1px;
    }
    li.active a {
      background-color: #dadada;
      border-radius: 5px 0 0 5px;
      margin-right: 0;
    }
    a {
      transition: all 200ms;
      border-right: 0;
      font-size: 15px;
      color: black;
      padding: 0.2em 1em;
      border-radius: 5px;
      margin-right: 5px;
      background-color: #ffffff;
    }
  }
}

.multiform .select-selected {
  //html variant
  border: 1px solid $select-data-color;
  background-color: $select-data-color;
}

svg .select-selected {
  //svg variant
  stroke: $select-data-color;
  stroke-width: 1px;
  fill: $select-data-color;
  vector-effect: non-scaling-stroke;
}

body {
  &[data-clue="P"], &[data-clue="A"] {
    #stratomex {
      .link-container svg {
        path.rel-item {
          &.select-hovered {
            stroke: $hover-presentation-color !important;
          }
        }
        path.rel-group, path.rel-block {
          &.select-hovered {
            fill: $hover-presentation-color !important;
          }
        }
      }

      .column {
        &.select-hovered {
          border-color: $hover-presentation-color !important;
        }
      }
    }
  }
}
